@model List<ResultTestimonialDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Testimonial</h4>
		<div class="row">
			<div class="col-md-12">

				<div class="card">
					<div class="card-header">
						<div class="card-title">Testimonial List</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							<a href="/Testimonial/CreateTestimonial" class="btn btn-outline-primary">Add New Testimonial</a>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Title</th>
										<th>Comment</th>
										<th>ImageUrl</th>
										<th>Status</th>
										<th>Delete</th>
										<th>Edit</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										count++;
										<tr>
											<td>@count</td>
											<td>@item.Name</td>
											<td>@item.Title</td>
											<td>@item.Comment</td>
											<td>@item.ImageUrl</td>
											<td>@item.Status</td>
											<td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-outline-danger">Delete</a></td>
											<td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-outline-success">Edit</a></td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>