@model List<ResultFeatureDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Feature</h4>
		<div class="row">
			<div class="col-md-12">

				<div class="card">
					<div class="card-header">
						<div class="card-title">Feature List</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							<a href="/Feature/CreateFeature" class="btn btn-outline-primary">Add New Feature</a>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>#</th>
										<th>Title1</th>
										<th>Description1</th>
										<th>Title2</th>
										<th>Description2</th>
										<th>Delete</th>
										<th>Edit</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										count++;
										<tr>
											<td>@count</td>
											<td>@item.Title1</td>
											<td>@item.Description1</td>
											<td>@item.Title2</td>
											<td>@item.Description2</td>
											<td><a href="/Feature/DeleteFeature/@item.FeatureID" class="btn btn-outline-danger">Delete</a></td>
											<td><a href="/Feature/UpdateFeature/@item.FeatureID" class="btn btn-outline-success">Edit</a></td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>